<!DOCTYPE html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/img/favicon.ico') }}" rel="icon" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', path='/js/scripts.js') }}"></script>
</head>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <form action="/" method="POST" id="main_search">
        <div class="form-group">
            <label for="search_query">Search criteria:</label>
            <input type="text" id="search_query" name="search_query" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="volume">Maximum number of pages to summarize:</label>
            <input type="number" id="volume" name="volume" value="100" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="location">Select location</label>
            <select id="location" name="location" class="form-select" required>
                <option value="Russia">Russia</option>
                <option value="Moscow">Moscow</option>
            </select>
        </div>
        <br>
        <div class="form-check" id="tooltip-async">
            <input type="checkbox" id="asynchronous" name="asynchronous" checked>
            <label class="form-check-label" for="asynchronous">Fetch asynchronously</label>
            <span class="tooltiptext"><a href="https://docs.aiohttp.org/en/stable">AIOHTTP</a> significantly increase speed</span>
        </div>
        <div class="form-check" id="tooltip-advanced">
            <input type="checkbox" id="advanced_search" name="advanced_search">
            <label class="form-check-label" for="advanced_search">Use advanced search syntax</label>
            <span class="tooltiptext">Learn more <a href="https://hh.ru/article/1175">here</a></span>
        </div>
        <div class="form-check" id="tooltip-cache">
            <input type="checkbox" id="no_cache" name="no_cache">
            <label class="form-check-label" for="no_cache">Skip cache lookup</label>
            <span class="tooltiptext">Result will be fetched from <a href="https://hh.ru">hh.ru</a> even though it was 
                                        <a href="https://aioredis.readthedocs.io/en/latest/">cached</a> before</span>
        </div>
        <br>
        <button id="clickme" type="submit" class="btn btn-primary btn-lg">Build skills summary</button>
    </form>
    <form action="/reset" method="GET" id="main_reset">
        <button type="submit" class="btn btn-danger btn-sm">Reset cache</button>
    </form>
    <div class="holder">
        <img id="progress" src="{{ url_for('static', path='/img/progress.gif') }}">
        {% if elapsed %}
            <div class="stacked">
                Elapsed time: <b>{{ elapsed }}</b> seconds
            </div>
            <div class="stacked">
                Vacancies processed: <b>{{ body[0] }}</b>
            </div>
            <div class="stacked">
                <a class="btn btn-warning" href="/export?search_query={{ search_query }}&volume={{ volume }}&location={{ location }}" role="button">Download results</a>
            </div>
        {% endif %}
        {% if body %}
        <table class="table table-striped table-hover" id="main_report">
            <thead class="thead-dark">
                <tr>
                    <th>Key skill</th>
                    <th>Sum demand</th>
                </tr>
            </thead>
            {% for line in body[1] -%}
                <tr>
                    <td>{{ line[0] }}</td>
                    <td>{{ line[1] }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</body>
</html>
