h1 {
    text-align: center;
}

#main_search {
    width: 800px;
    background-color: #95faff;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#main_reset {
  width: 800px;
  background-color: #95faff;
  display: block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#main_report {
    width: 800px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.holder {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stacked {
    text-align: center;
    padding: 20px;
    display: inline-block;
}

#progress {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#tooltip-async .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: rgb(190, 190, 190);
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

#tooltip-async:hover .tooltiptext {
    visibility: visible;
}

#tooltip-async .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(190, 190, 190) transparent transparent;
}

#tooltip-advanced .tooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(190, 190, 190);
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

#tooltip-advanced:hover .tooltiptext {
visibility: visible;
}

#tooltip-advanced .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(190, 190, 190) transparent transparent;
}

  #tooltip-cache .tooltiptext {
    visibility: hidden;
    width: 560px;
    background-color: rgb(190, 190, 190);
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

#tooltip-cache:hover .tooltiptext {
    visibility: visible;
}

#tooltip-cache .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(190, 190, 190) transparent transparent;
}